# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Environment variables
.env
.env.local

# Earth Engine Credentials (just in case they end up here)
serviceAccountKey.json
